h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headings;
}

h1 {
  @apply mb-4
    text-5xl;
}

h2 {
  @apply font-bold
    mb-2
    text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

p {
  @apply mb-4;
}

a {
  @apply text-red
    underline;
}

ul {
  @apply mb-4
    pl-4;
}

li {
  @apply list-disc
    mb-1;
}

img,
svg {
  @apply max-h-full
    max-w-full;
}

input[type="submit"] {
  transition: 0.35s background-color ease;

  &:hover {
    background-color: var(--color-yellow-dark);
    cursor: pointer;
  }
}
