.template--home--jumbotron {
  background: linear-gradient(
    180deg,
    rgba(180, 52, 36, 1) 0%,
    rgba(180, 52, 36, 1) 25%,
    rgba(180, 52, 36, 0) 100%
  );
}

@screen md {
  .template--home--jumbotron {
    background: linear-gradient(
      90deg,
      rgba(180, 52, 36, 1) 0%,
      rgba(180, 52, 36, 0) 100%
    );
  }
}

.template--home--jumbotron-bg {
  @apply absolute
    bg-center
    bg-cover
    bg-no-repeat
    h-full
    left-0
    top-0
    w-full;

  z-index: -1;

  &.is-desktop {
    @apply hidden;
  }

  &.is-mobile {
    top: 10%;
  }
}

@screen md {
  .template--home--jumbotron-bg.is-desktop {
    @apply block;
  }
}

.template--home--squiggles {
  z-index: -1;

  &.position-01 {
    left: -8rem;
    top: -6rem;
    width: 12rem;
  }

  &.position-02 {
    right: -8rem;
    top: -3rem;
    width: 12rem;
  }

  &.position-03 {
    left: 13%;
    top: 45%;
    width: 2rem;
  }

  &.position-04 {
    left: 83%;
    top: 72%;
    width: 2rem;
  }

  &.position-05 {
    left: -8rem;
    top: -6rem;
    width: 12rem;
  }

  &.position-06 {
    right: -8rem;
    top: 12rem;
    width: 12rem;
  }
}

@screen sm {
  .template--home--squiggles.position-03 {
    left: 3%;
  }

  .template--home--squiggles.position-04 {
    left: 94%;
    top: 84%;
  }
}

@screen lg {
  .template--home--squiggles.position-03 {
    left: 23%;
    top: 40%;
  }

  .template--home--squiggles.position-04 {
    left: 74%;
    top: -6%;
  }
}

.template-home--speaker img {
  @apply inline-block;
}

.template-home--solo-speaker {
  grid-template-columns: auto;

  .speaker--image {
    max-width: 12.5rem;
  }
}

@screen md {
  .template-home--solo-speaker {
    grid-template-columns: 12.5rem auto;
  }
}
