:root {
  --color-black: #1c282e;
  --color-blue: #203b42;
  --color-gray: #b2bdcb;
  --color-gray-light: #eff3f9;
  --color-orange: #c55a3a;
  --color-red: #b43424;
  --color-white: #ffffff;
  --color-yellow: #e0bc54;
  --color-yellow-dark: #d1ab3b;
}
