---
layout: default
---

{# ---------------------------------------- | Header #}

<div class="bg-gray-light text-black">
  <div class="container py-8">
    <div class="flex justify-between">
      <div class="flex items-center">
        <a class="inline-block w-24 sm:w-32 mr-8 flex-shrink-0" href="/">
          {% include "svg/logo-alt.svg" %}
        </a>
        <span class="max-w-xs text-xs sm:text-sm inline-block">
          An event-driven community for underrepresented folx to share, listen,
          and learn.
        </span>
      </div>
      <div
        class="hidden md:flex flex-wrap justify-center md:justify-start items-center font-bold"
      >
        <span class="hidden lg:inline-block lg:mr-2 xl:mr-3">
          October 1, 2021
        </span>
        <span class="hidden lg:inline-block lg:mx-2 xl:mx-3">7 PM EST</span>
        <span class="hidden xl:inline-block lg:mx-2 xl:mx-3">Virtual</span>
        <span class="hidden lg:inline-block lg:mx-2 xl:mx-3">Free</span>
        <span
          class="block md:inline-block w-full md:w-auto mt-4 md:mt-0 ml-0 lg:ml-2 xl:ml-3 text-center"
        >
          <a
            href="#"
            class="bg-yellow duration-300 inline-block no-underline px-8 py-3 relative rounded-full text-black transition-all component--button theme-default"
          >
            Register Now
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

{# ---------------------------------------- | Body #}

<main class="container py-20 template--content--main">
  <div class="max-w-3xl">
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </div>
</main>

{# ---------------------------------------- | Footer #}

{% include "footer.njk" %}
