<div class="bg-blue text-white py-12">
  <div class="container">
    <div
      class="lg:flex justify-between align-top mb-12 text-center lg:text-left"
    >
      <div class="mb-12 lg:mb-0">
        <form action="/" class="inline-block">
          <div class="sm:flex items-center">
            <p class="sm:inline-block mr-3 mb-2 sm:mb-0">
              Join the discussion.
            </p>
            <input
              type="email"
              value=""
              name="email"
              class="rounded-full h-12 px-4 py-2 inline-block mr-3 w-56 text-black"
              placeholder="enter your email"
              required
            />
            <input
              type="submit"
              value="&nbsp;"
              class="rounded-full bg-yellow p-4 leading-none h-12 w-12 bg-center bg-no-repeat"
              style="
                background-image: url('/images/form-submit-arrow.png');
                background-size: 1.3rem;
              "
            />
          </div>
        </form>
      </div>
      <div>
        <div class="flex justify-center align-middle flex-wrap flex-shrink-0">
          <span
            class="mr-3 block w-full mb-3 lg:w-auto lg:inline-block lg:mb-0"
          >
            Stay up-to-speed with Unmute.
          </span>
          <a
            href="#"
            class="mr-3 w-6 text-white hover:opacity-50 transition-all duration-300"
          >
            {% include "svg/twitter.svg" %}
          </a>
          <a
            href="#"
            class="mr-3 w-6 text-white hover:opacity-50 transition-all duration-300"
          >
            {% include "svg/facebook.svg" %}
          </a>
          <a
            href="#"
            class="w-6 text-white hover:opacity-50 transition-all duration-300"
          >
            {% include "svg/instagram.svg" %}
          </a>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <span class="block text-center lg:text-left">
        Copyright &copy; 2021 Unmute. All rights reserved.
      </span>
    </div>
    <div class="text-center lg:text-left">
      <a href="/privacy" class="inline-block mr-2 text-white">
        Privacy Policy
      </a>
      <a href="/terms" class="inline-block ml-2 text-white">
        Terms &amp; Conditions
      </a>
    </div>
  </div>
</div>
